@import "@/styles/Global.scss";

#portfolio-page {
    background-color: $light-ash;
    width: 100%;
    padding: 30px;
    min-height: 100vh;

    @media (min-width: $md-laptop-breakpoint) {
        padding: 70px;
    }

    .portfolio-page {
        @media (min-width: $md-laptop-breakpoint) {
            display: grid;
            grid-template-columns: 360px 2fr;
            grid-gap: 40px;
        }

        &__left-column {
            margin-bottom: 50px;

            &__info-card {
                text-align: center;
                background-color: #fff;
                border-radius: 15px;
                padding: 40px;
                position: relative;

                @media (min-width: $md-laptop-breakpoint) {
                    margin-top: 50px;
                    padding: 0px 40px;
                }

                .icon-wrapper {
                    position: absolute;
                    top: 25px;
                    right: 25px;
                    width: 16px;

                    img {
                        width: 100%;
                        cursor: pointer;
                    }
                }

                .info-card-inner {
                    display: flex;

                    @media (min-width: $md-laptop-breakpoint) {
                        display: block;
                        transform: translateY(-50px);
                    }

                    .img-wrapper {
                        flex-shrink: 0;
                        width: 140px;
                        height: 140px;
                        margin-right: 30px;
                        border-radius: 50%;
                        overflow: hidden;
                        display: flex;

                        @media (min-width: $md-laptop-breakpoint) {
                            width: 190px;
                            height: 190px;
                            margin: auto;
                            margin-bottom: 20px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .details {
                        text-align: left;

                        @media (min-width: $md-laptop-breakpoint) {
                            text-align: center;
                        }

                        h1 {
                            margin-bottom: 10px;
                            font-size: 32px;
                        }

                        h4 {
                            color: $ash;
                            margin-bottom: 15px;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            font-family: muli-semi-bold;
                        }
                    }
                }
            }
        }

        &__right-column {
            .prodegree {
                margin-bottom: 50px;
                &__title {
                    margin-bottom: 20px;
                }

                .prodegree-card-wrapper {
                    margin-bottom: 50px;

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }

                &__details {
                    background-color: #fff;
                    padding: 40px;
                    border-radius: 15px;

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 50px;

                    @media (min-width: $md-laptop-breakpoint) {
                        display: block;
                    }

                    @media (min-width: $xl-laptop-breakpoint) {
                        display: grid;
                        grid-template-columns: 1.2fr 1fr;
                        grid-gap: 15%;
                    }

                    &__left-column {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .top {
                            margin-bottom: 30px;

                            .level {
                                text-transform: uppercase;
                                color: $blue;
                                font-family: roboto-regular;
                                font-weight: 800;
                                letter-spacing: 2px;
                                margin-bottom: 10px;
                            }

                            .degree {
                                font-size: 36px;
                                font-family: muli-light;
                                font-weight: 100;
                                margin-bottom: 15px;
                                white-space: nowrap;
                            }

                            .time {
                                color: $blue;
                                font-family: roboto-regular;
                            }
                        }

                        .bottom {
                            display: flex;

                            @media (min-width: $md-laptop-breakpoint) {
                                margin-bottom: 30px;
                            }

                            @media (min-width: $xl-laptop-breakpoint) {
                                margin-bottom: 0px;
                            }

                            & > div {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin-right: 50px;

                                h6 {
                                    color: #000;
                                    font-family: roboto-regular;
                                    font-weight: 200;
                                }
                            }
                        }
                    }

                    &__right-column {
                        display: flex;
                        flex-direction: column;
                        .module {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 20px;

                            h3 {
                                font-family: roboto-regular;
                                font-weight: 100;

                                span {
                                    margin-right: 10px;
                                }
                            }

                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }

            .my-skills {
                margin-bottom: 50px;

                &__title {
                    margin-bottom: 20px;
                }

                &__info {
                    margin-bottom: 30px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 20px;

                    @media (min-width: $lg-laptop-breakpoint) {
                        display: block;
                    }

                    @media (min-width: $xl-laptop-breakpoint) {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 20px;
                    }

                    .skill-card-wrapper {
                        margin-bottom: 20px;

                        .skill-card {
                            background-color: #fff;
                            border-radius: 15px;
                            padding: 30px 30px 10px 10px;

                            &__title {
                                margin-bottom: 50px;
                                margin-left: 20px;
                            }

                            &__info {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-end;

                                &__icon-wrapper {
                                    background-color: $light-ash;
                                    border-top-right-radius: 15px;
                                    border-bottom-left-radius: 15px;
                                    width: 100px;
                                    height: 100px;
                                    font-size: 50px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                &__description {
                                    h4 {
                                        display: flex;
                                        align-items: flex-end;
                                        justify-content: flex-end;
                                        margin-bottom: 15px;

                                        .icon-wrapper {
                                            width: 16px;
                                            margin-left: 10px;
                                            display: flex;

                                            img {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &__btn-wrapper {
                    display: flex;
                    justify-content: center;
                }
            }

            .recently-watched {
                &__title {
                    margin-bottom: 20px;
                }

                &__info {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 20px;

                    @media (min-width: $lg-laptop-breakpoint) {
                        display: block;
                    }

                    @media (min-width: $xl-laptop-breakpoint) {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 20px;
                    }

                    .class-preview-card-component {
                        margin-bottom: 30px;

                        .image-wrapper {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
