@import "@/styles/Global.scss";

#history-page {
    .history-page {
        padding-top: 50px;
        min-height: 100vh;

        @media (min-width: $md-laptop-breakpoint) {
            padding-top: 70px;
        }

        &__header {
            width: 200px;
            margin: 0px 50px 40px;

            @media (min-width: $md-laptop-breakpoint) {
                margin: 0px 70px 40px;
            }
        }

        &__content {
            .search-filter-wrapper {
                margin: 0px 50px 40px;

                @media (min-width: $md-laptop-breakpoint) {
                    margin: 0px 70px 40px;
                }
            }
            .group {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 40px;
                margin: 0px 50px 40px;

                @media (min-width: $md-laptop-breakpoint) {
                    margin: 0px 70px 40px;
                }

                .class-preview-card-component {
                    .image-wrapper {
                        width: 100%; //Component override
                    }
                }
            }
            .advert-wrapper {
                margin-bottom: 60px;
            }
        }
    }
}
