@import "@/styles/Global.scss";

.button-component {
    border: 0px;
    background-color: $blue;
    border-radius: 15px;
    padding: 0px 20px;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    cursor: pointer;

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

.double-blue-btn-component {
    color: $blue;
    background-color: rgba(67, 137, 248, 0.2);
    border: 0px;
    padding: 12px 40px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}
