@import "@/styles/Global.scss";

.doughnut-chart-component {
    display: flex;

    svg.donutchart {
        margin-right: 70px;
    }

    .custom-legend {
        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            .circle {
                width: 10px;
                height: 10px;
                background-color: red;
                border-radius: 50%;
                margin-right: 15px;
            }

            .text {
                h5 {
                    color: $ash;
                    font-family: muli-regular;
                }
            }
        }
    }
}
